.carousel.isFullSize .carousel.isFullSize .carousel,
.carousel.isFullSize .tns-outer,
.carousel.isFullSize .tns-inner,
.carousel.isFullSize .carousel__slidesHolder,
.carousel.isFullSize .tns-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
